$breakpoint-small: 768px;
@mixin ease-in($property, $duration) {
  -webkit-transition: $property $duration ease-in;
  -moz-transition: $property $duration ease-in;
  -ms-transition: $property $duration ease-in;
  -o-transition: $property $duration ease-in;
  transition: $property $duration ease-in;
}

@mixin ease-out($property, $duration) {
 -webkit-transition: $property $duration ease-out;
  -moz-transition: $property $duration ease-out;
  -ms-transition: $property $duration ease-out;
  -o-transition: $property $duration ease-out;
  transition: $property $duration ease-out;
}

@mixin ease-in-out($property, $duration) {
  -webkit-transition: $property $duration ease-in-out;
  -moz-transition: $property $duration ease-in-out;
  -ms-transition: $property $duration ease-in-out;
  -o-transition: $property $duration ease-in-out;
  transition: $property $duration ease-in-out;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}

.container {
    border-top: 3px solid #1EBDA5;
    padding: 0 18px;
}
.chart {
    margin: 0 auto;
    display: block;
}

nav {
    &.left {
        li {
            margin-right: 4px;
        }
    }
    &.right {
        li {
            margin-left: 4px;
        }
    }
    ul {
        margin: 0;
        list-style: none;
        li {
            display: inline-block;
        }
    }
}

.nav-header {
    background: #FFF;
    margin: 0 -18px 24px -18px;
    clear: both;
    position: relative;
    a {
      display: inline-block;
      text-decoration: none;
      padding: 8px 10px;
      &.brand {
        background-color: rgb(33,211,184);
        padding-left: 18px;
        padding-right: 18px;
        color: #FFF;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
    }
    .active {
        border-bottom: 2px solid;
    }
    @media (max-width: $breakpoint-small) {
      nav {
        text-align: center;
        display: none;
        li {
          display: block;
        }
        &.open {
          display: block;
        }
        border-bottom: 1px solid rgba(33,211,184, .75);
      }
      .nav-toggle {
        display: block;
        float: right;
      }
    }
    @media (min-width: $breakpoint-small) {
      nav {
        display: inline-block;
      }
      .nav-toggle {
        display: none;
      }
    }
    
}

.data-grid-toolbar {
  padding-left: 1em;
  padding-right: 1em;
  span {
    display: inline-block !important;
    padding-left: .6em;
  }
}
.table-hovered tbody tr:hover td .grid-item-edit-icon {
  visibility: visible;
  @include ease-out(visibility, 400ms);
}
.grid-item-edit-link {
  .grid-item-edit-icon {
    visibility: hidden;
    padding-right: .6em;
  } 
}
.dashboard-launcher {
  padding-top: 2em;
  text-decoration: none;
  text-align: center;
  display: block;
  font-weight: 300;
  color: #212121;
  border-bottom: 2px transparent solid;
  @include ease-out(boarder-color, 200ms);

  &:hover {
    border-bottom: 2px rgb(33,211,184) solid;
    color: #212121;
  }
}
@media print {
  .no-print, .no-print *
  {
    display: none !important;
  }
}