
$spinkit-size: 16px !default;
$spinkit-spinner-color: #000 !default;

@import '~basscss/css/basscss';

body {
  font-size: 90%;
}
.small {
  font-size: 75%;
}
.dashboard-launcher {
  text-decoration: none;
  text-align: center;
  display: block;
  font-weight: 300;
  color: #212121;
  &:hover {
    color: #212121;
    text-decoration: none;
  }
}
.field.grid-search-input {
  height: 1.5rem;
}

.tooltip {
    display: inline;
    position: relative;
    cursor: pointer;
    &:hover:after {
      background: #333;
      background: rgba(0,0,0,.8);
      border-radius: 3px;
      bottom: 26px;
      color: #fff;
      content: attr(title);
      padding: 5px 10px;
      position: absolute;
      z-index: 98;
      width: 200px;
      left: -105px;
      font-size: 70%;
  }
  &:hover:before {
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    position: absolute;
    z-index: 99;
  }
}